body {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-container {
  width: 100%;
  background-color: rgb(4, 33, 18);
  text-align: center;
}

.videoElement {
  height:400px;
}

.subtitle {
  position: absolute;
  top: 10px;
  width: 100%;
  font-size: 30px;
  padding: 5px;
  color: rgba(255, 255, 255, 1);
  background: rgba(20, 40, 50, 0.3);
}

.caption-container {
  width: 600px;
}

#caption-field {
  width: 300px;
}

.each-caption {
  display: flex;
  flex-direction: row;
}

h5 {
  width: 450px;
}

p {
  width: 75px;
}
